<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{./page/index :: dynamic(~{::main})}">

<head>

</head>

<body>
<div th:fragment="main">
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function (){-->
<!--            getAllUser();-->
<!--        })-->
<!--    </script>-->
    <script type="text/javascript" th:src="@{/page/pages/js/phong-ban-form.js}"></script>
    <!-- partial -->
    <div class="col-12">
        <div class="row">
                <div class="col-lg-6">
                <div class="mb-3">
                    <span class="form-label font-weight-bold">Phòng ban</span>
                </div>
                <div class="mb-3">
                    <label for="txtMaPhongBan" class="form-label">Mã phòng ban</label>
                    <input class="form-control bg-body" id="txtMaPhongBan" type="text">
                </div>
                <div class="mb-3">
                    <label for="txtTenPhongBan" class="form-label">Tên phòng ban</label>
                    <input class="form-control bg-body" id="txtTenPhongBan" type="text">
                </div>
                <div class="mb-3">
                    <div class="col-4">
                        <label for="cbxNhanVien" class="form-label">Mã trưởng phòng</label>
                        <div id="cbxNhanVien">
                            <select id="cbxNhanVienSelect" class="form-select bg-body" aria-label="Default select example">
                            </select>
                        </div>
                    </div>
                </div>

                <div style="padding-top: 10px">
                    <button id="btnAddPhongBan" class="btn btn-primary" type="button" onclick="addPhongBan()">Thêm phòng ban</button>
                    <a th:href="@{/page/index}" class="btn btn-success btn-sm" style="height: 37px; line-height: 1; margin-bottom: 16px; align-content: center">Quay lại</a>
                </div>
            </div>

            <div class="col-lg-6">
                <table class="table table-light table-striped-columns" id="tablePhongBan">
                    <thead>
                    <tr>
                        <th>Mã phòng</th>
                        <th>Tên phòng ban</th>
                        <th>Mã trưởng phòng</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyTablePhongBan">

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</body>

</html>